/*
styles
*/

 article, body, div, header, h1, h2, p {
	 border: 0;
	 padding: 0;
	 margin: 0;
 }

body {
background-color: linen;
}	
h1  {
    background-color: blue;
	color: white;
	font-size: 4.0em;
	line-height: 1.6em;
	font-weight: 1000;
	text-align:center;
	padding: 0.5em;
	}

h2 {
	font-size: 2.4em;
	text-align: center;
	padding: 0.5em;
	background-color: lightblue;
}


nav.sitenavigation {
   padding: 0.4em;
   text-align: center;  
   background-color:  #87cefa;
}

nav.sitenavigation p {
   margin: 0 1em;
   display: inline-block;
}

nav.sitenavigation a:link {
   color: white;
   font-size: 3.0em;
   text-decoration: none;
   font-weight: bold;
}

nav.sitenavigation a:visited {
   color: red;
}

nav.sitenavigation a:hover, nav.sitenavigation a:focus {
   text-shadow: 0 0 8px #082008;
}

article p {
       text-align: center;
	   padding: 0.1em;
	   font-size: 1.6em;
	   
}